.header {
  position: sticky;
  top: 0;
  z-index: 10;
}
.header__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
  padding: 10px 60px;
  border-bottom: 1px solid;
  border-color: var(--ll-gray);
}
.header__logo h4 {
  font-size: 32px;
  font-weight: 700;
  color: var(--green);
}
nav ul {
  display: flex;
  /* background: gray; */
  align-items: center;
}
nav ul li {
  margin: 0 3px;
}
nav ul li a {
  color: var(--black);
  font-weight: 500;
  font-size: 15px;
  /* font-weight: 500; */
}
nav ul li .MuiButton-root {
  border-radius: 30px !important;
  padding-left: 20px;
  padding-right: 20px;
}
nav ul li .MuiButton-label {
  text-transform: none;
}
.signup__button .MuiButton-root {
  border-radius: 30px !important;
  background: var(--g-color);
  width: 80px;
  margin-left: 10px;
}
.signup__button .MuiButton-label {
  color: var(--white);
  text-transform: none;
}
