.ReactModal__Content {
  background: var(--white) !important;
  border: none !important;
  width: 400px;
  height: 300px;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
  opacity: 0;
  margin-top: -30px;
  transition: all ease-in-out 0.6s;
  overflow: visible !important;
}
.ReactModal__Content--after-open {
  opacity: 1;
  margin-top: 0px;
}
.ReactModal__Overlay {
  background: rgba(0, 0, 0, 0.521) !important;
  z-index: 5;
  opacity: 0;
  transition: opacity ease-in-out 0.5s;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
}
.loginModal__icon {
  display: flex;
  justify-content: space-between;
  /* background: #000; */
  /* margin-top: 50px; */
}
.loginModal__form {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loginModal__form .MuiButton-root {
  width: 80%;
  height: 45px;
  background: var(--g-color) !important;
  border-radius: 5px !important;
  margin: 20px 0;
}
.loginModal__form .MuiButton-label {
  color: var(--white);
  text-transform: none;
  font-size: 14px;
}
.loginModal__form p {
  text-transform: none;
  font-size: 13px;
}
.loginModal__form p a:hover {
  text-decoration: underline;
}
