.multistep__stepper {
  width: 520px;
}
.multistep__stepper .MuiStepIcon-root {
  display: none;
}
.multistep__stepper .MuiStepConnector-lineHorizontal {
  display: none;
}
.multistep__stepper .MuiStep-horizontal {
  padding: 0 !important;
}
.multistep__stepper .MuiStepper-root {
  padding: 0;
}
.multistep__stepper .MuiTypography-body2 {
  font-weight: 600;
  color: var(--l-gray);
  font-size: 15px;
  align-items: center;
  display: flex;
}
.multistep__stepper .MuiStepLabel-label.MuiStepLabel-active {
  font-weight: 600;
  color: var(--black);
}
.multistep__stepper .MuiStepLabel-label.MuiStepLabel-completed {
  font-weight: 600;
  color: var(--black);
}
.multistep__stepper .MuiSvgIcon-root {
  font-size: 18px;
  margin-left: 3px;
}
