/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* css variable color */
:root {
  --g-color: linear-gradient(to right, #2bde8c, #86f244);
  --green: #2bde8c;
  --d-green: #00a799;
  --black: #000;
  --b-black: #002b37;
  --white: #fff;
  --gray: #6a6a6a;
  --l-gray: #b4b3b3;
  --ll-gray: #eaeaea;
  --blue: #0377ff;
  --l--blue: #009ab4;
  --red: #e74c3c;
}
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* all css file */
@import "./Styles/Header";
@import "./Styles/Banner";
@import "./Styles/SearchForm";
@import "./Styles/AccordionCount.css";
@import "../node_modules/swiper/swiper-bundle.min";
@import "./Styles/SwiperCard";
@import "./Styles/Result";
@import "./Styles/ResultCard";
@import "./Styles/ResultMap";
/* 
.map__result {
  position: fixed;
} */
